<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cerr.school_api.dao.ClassBorrowDao">

    <!-- 完成JavaBean和表字段的映射-->
    <resultMap id="classBorrowResultMap" type="com.cerr.school_api.entity.ClassBorrow">
        <id column="id" property="id" />
        <!-- 申请人姓名 -->
        <result column="app_name" property="appName" />
        <!-- 使用日期 -->
        <result column="use_date" property="useDate" />
        <!-- 申请日期 -->
        <result column="app_date" property="appDate" />
        <!-- 使用时间 -->
        <result column="use_time" property="useTime" />
        <result column="reason" property="reason" />
        <result column="status" property="status" />
        <result column="classroom_id" property="classRoomId" />
    </resultMap>

    <!-- 根据id删除教室申请 -->
    <!-- public void deleteClassBorrow(Integer id); -->
    <delete id="deleteClassBorrow" >
        delete from class_borrow where id = #{id};
    </delete>

    <!--插入教室申请-->
    <!-- public void insertClassBorrow(ClassBorrow classBorrow); -->
    <insert id="insertClassBorrow">
        insert into class_borrow(app_name,use_date,app_date,use_time,reason,status,classroom_id)
            values(#{appName},#{useDate},#{appDate},#{useTime},#{reason},#{status},#{classRoomId});
    </insert>

    <!-- 修改教室申请 -->
    <!--public void updateClassBorrow(ClassBorrow classBorrow); -->
    <update id="updateClassBorrow">
        update class_borrow
        set app_name = #{appName},use_date=#{useDate},app_date=#{appDate},
          use_time=#{useTime},reason=#{reason},status=#{status},classroom_id=#{classRoomId}
        where id = #{id};
    </update>


    <!-- 根据学生学号来查找所有教室申请记录 -->
    <!-- public List<ClassBorrow> selectClassBorrowByStuId(Integer stuId); -->
    <select id="selectClassBorrowByStuId" resultType="com.cerr.school_api.entity.ClassBorrow"
            resultMap="classBorrowResultMap">
        select * from class_borrow where app_name = #{stuId};
    </select>

    <!-- 根据申请状态来查询所有教室申请记录 -->
    <!-- public List<ClassBorrow> selectClassBorrowByStatus(Integer status); -->
    <select id="selectClassBorrowByStatus" resultType="com.cerr.school_api.entity.ClassBorrow"
            resultMap="classBorrowResultMap">
        select * from class_borrow where status = #{status};
    </select>

    <!-- 根据id查询教室申请记录 -->
    <!-- public ClassBorrow selectClassBorrowById(Integer id); -->
    <select id="selectClassBorrowById" resultType="com.cerr.school_api.entity.ClassBorrow"
            resultMap="classBorrowResultMap">
        select * from class_borrow where id = #{id};
    </select>

</mapper>